.mainHotel {
  border-radius: 6px;
  max-width: 245px;
  list-style: none;
  padding: 4px;
  margin-bottom: 10px;
  width: 245px;


  .hotelPhoto {
    border-radius: 6px;
    width: 100%;
    max-width: 245px;
    max-height: 170px;
    height: 100%;
  }

  .description {
    display: flex;
    width: 100%;
    flex-direction: column;

    .hotelTitleContainer {
      margin: 0;
      display: flex;
      width: 100%;
    }

    .hotelPrice {
      width: 100%;
      display: flex;
      margin: 5px 0 0 0;
    }
  }
}