.mainHotel {
  width: auto;
  border-radius: 6px;
  max-width: 245px;
  list-style: none;
  padding: 4px;

  .hotelPhoto {
    border-radius: 6px;
    width: 100%;
  }

  .description {
    display: flex;
    width: 100%;
    flex-direction: column;

    .hotelTitleContainer {
      margin: 0;
      display: flex;
      width: 100%;
    }

    .hotelPrice {
      width: 100%;
      display: flex;
      margin: 5px 0 0 0;
    }
  }
}