.mainHeader {
  width: 100%;

  .headerLayout {
    padding: 0 calc(10% + 4px);
    height: 80px;

    .headerContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }
  }
}